@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.main-menu>li>a,
.main-menu-m>li>a,
.ltext-102,
.sub-menu a {
	font-family: 'Roboto', sans-serif !important;
}

svg {
	width: 24px;
	height: 24px;
}